<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="MyfirstApp.Properties.Settings.MyFirstDBConnectionString" connectionString="Data Source=DESKTOP-49M7KTL;Initial Catalog=EApartments;Integrated Security=True"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
